

.container {

	width: 100%;
	max-width: 1200px;
	margin: 0px auto;
	padding: 0 15px;
}
.infocards {
	display: flex;
	align-items: center;
	
}
.card {
	height: 400px;
	width: 25%;
	margin: auto;
	text-align: center;	
}
.card h2 {
	font-size: 24px;
}
.card p {
	padding: 15px 15px;
}
.card .foto {
	margin: auto;
	height: 150px;
	width: 120px;
	background-color: black;
}


